div
    width 220px;
    height: 110px;

.test1
    background-image svgurl('icon.svg') svg()

.test2
    background-image svgurl('icon.svg') svg(rect fill #F00)

.test3
    background-image: svgurl('icon.svg') svg(rect$p1 fill #00FF00, rect$p2 fill #F00)